flask
flask-cors
ibm-watsonx-ai
python-dotenv
requests



PORT=5000

# Watsonx.ai
WATSONX_APIKEY=YOUR_API_KEY
WATSONX_URL=https://us-south.ml.cloud.ibm.com
WATSONX_PROJECT_ID=YOUR_PROJECT_ID

# NLU
NLU_APIKEY=YOUR_NLU_KEY
NLU_URL=YOUR_NLU_URL
